.app-header {
    background-color: $main-bgColor;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: $main-color;
    box-shadow: 1px 1px 5px #fff;

    nav {
        font-size: .8em;
        // background-color: $clr5;
        padding: 5px;

        a {
            text-decoration: none;
            text-transform: none;
            color: $main-color;
        }
    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        // border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: rgb(64, 182, 64);
    }

    .logo {
        cursor: pointer;
    }

}