.client-index {
  .welcome-title {
    text-align: center;
    font-size: 5rem;
    text-shadow: 0px 0px 0px #909090,
    0px 2px 0px #909090,
    0px 3px 0px #909090,
    0px 4px 0px #909090,
    0px 5px 0px #909090,
    0px 6px 0px #909090,
    0px 7px 0px #909090,
    0px 8px 0px #909090,
    0px 9px 0px #909090,
    0px 0px 0px #909090;
  }
}
